/*======================= tablet start =======================*/
@media (max-width: 768px) {
  /*------------navbar start------------*/
  .hamburger {
    display: block;
  }

  nav ul {
    display: none;
  }
  /*------------navbar end------------*/

  /*------------Home start------------*/
  .home-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-content-text {
    text-align: center;
    margin-bottom: 20px;
  }

  .home-content-text h1 {
    font-size: 2rem;
  }

  .home-content-text p {
    font-size: 1rem;
  }

  .image-gallery-inside {
    display: none !important;
  }

  .image-gallery-outside {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 100% !important;
    margin-top: 20px !important;
  }

  .image-gallery {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  .image-box {
    width: 30%;
    margin: 5px;
  }
  /*------------Home end------------*/

  /*------------Form start------------*/
  .form-section {
    width: 90%;
    padding: 20px;
  }

  .form-container {
    width: 100%;
  }

  .form-buttons {
    flex-direction: column;
    align-items: center;
  }

  button[type="reset"],
  button[type="submit"] {
    width: 100%;
    margin-top: 10px;
  }
  /*------------Form end------------*/
}
/*======================= tablet end =======================*/


/*======================= tablet and desktop start =======================*/
@media (min-width: 769px) and (max-width: 1440px) {
  .image-gallery-outside {
    display: none !important;
  }
}
/*======================= tablet and desktop end =======================*/
